body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #80F557 44.46%, #FFFFFF 89.44%) 0 0 no-repeat padding-box;
}

.horizontalcontainer {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #80F557 44.46%, #FFFFFF 89.44%) 0 0 no-repeat padding-box;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    min-height: 30px;
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

button {
    margin: 0 1em 1em 1em;
    color: cornflowerblue;
    border-radius: 17px;
    background: #0076A9 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: none;
    line-height: 2.5em;
    font-size: 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo > img {
    width: 12.5em;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

.navbar-font-color {
    color: rgba(255,255,255,.5);
}

@media only screen and (max-width:  992px){
    body {
        font-size: 48px;
        height: unset;
    }
    .container {
        flex-direction: column;
    }

    .horizontalcontainercontainer {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: column;
    }
    .horizontalcontainercontainer {
        flex-direction: column;
    }
    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}
